{% extends 'base.html.twig' %}

{% block title %}Les réclamations{% endblock %}

{% block body %}
<div class="container mt-5 pt-5">
    <h2 class="mb-4">📢 Les réclamations</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Employé</th>
                <th>objet</th>
                <th>message</th>
                <th>date_reclamation</th>
                <th>statut</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                 
                </td>
            </tr>
       
        </tbody>
    </table>
</div>

{% endblock %}
