.main {
    margin-left: 240px; /* largeur sidebar */
    padding: 20px;
    min-height: 100vh;
    background-color: #f8f9fa;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
}


/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

/* Canvas Chart */
#materielChart {
    width: 100% !important;
    height: 400px !important;
}

