{% extends 'base.html.twig' %}

{% block title %}Les interventions{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">🛠️ les interventions</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>type Intervention</th>
                <th>description</th>
                <th>date intervention</th>
                <th>effectue_par</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                </td>
            </tr>
       
        </tbody>
    </table>
</div>
{% endblock %}
