{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
<div class="main">

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Mon Profil</h4>
        </div>

        <div class="card-body">
            <div class="row">


                <div class="col-md-8">
                    <table class="table">
                    {% for user in users %}
                        <tr>
    <th>Nom</th>
    <td>{{ user.nom }}</td>
</tr>
<tr>
    <th>Prénom</th>
    <td>{{ user.prenom }}</td>
</tr>
<tr>
    <th>Email</th>
    <td>{{ user.email }}</td>
</tr>
<tr>
    <th>Rôle</th>
    <td>
        {% for role in user.roles %}
            {{ role }}
        {% endfor %}
    </td>
</tr>

</table>
 {% endfor %}
                    <a  class="btn btn-warning btn-sm">Modifier mes informations</a>
                    <a  class="btn btn-secondary btn-sm">Changer mon mot de passe</a>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}
