{%extends 'base.html.twig'%}
{% block title %} les alertes{% endblock %}


{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">📢 Liste des alertes</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Type</th>
                <th>Message</th>
                <th>Date</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
          
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                    </td>
                </tr>
            
               
           
        </tbody>
    </table>

    
</div>

{% endblock %}




