{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="row mt-5 pt-5">

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header"> 💻 Matériels disponible</div>
            <div class="card-body">
                <h5 class="card-title">Matériels informatique</h5>
                <p class="card-text">Consulter les équipements disponible.</p>
                <a href="{{ path('app_materiels_user') }}" class="btn btn-light btn-sm">Voir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header"> 👤➡️💻 Affectations</div>
            <div class="card-body">
                <h5 class="card-title">Mes Affectations</h5>
                <p class="card-text"> Les matériels aux employés.</p>
                <a href="{{ path('app_affectation_user') }}" class="btn btn-light btn-sm">Voir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"> ⚠️ Alertes </div>
            <div class="card-body">
                <h5 class="card-title"> Déclarer des alertes </h5>
                <p class="card-text">Déclarer les alertes liées aux équipements.</p>
                <a href="{{ path('app_ajouter_alerte_user') }}"  class="btn btn-light btn-sm"> Déclarer une alerte </a>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-header"> 🏢 Services</div>
            <div class="card-body">
                <h5 class="card-title">Services internes</h5>
                <p class="card-text">Consultez les services </p>
                <a href="#" class="btn btn-light btn-sm">Voir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header"> 🛠️ Interventions</div>
            <div class="card-body">
                <h5 class="card-title">Interventions techniques</h5>
                <p class="card-text"> les interventions sur les matériels ou logiciels.</p>
                <a  class="btn btn-light btn-sm">Voir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header"> 📢 Réclamations</div>
            <div class="card-body">
                <h5 class="card-title">Envoyer une réclamation</h5>
                <p class="card-text">Soumettez les réclamations des utilisateurs.</p>
                <a href="{{ path('app_ajouter_reclamation_user') }}" class="btn btn-light btn-sm"> Réclamer </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}
