{% extends 'base.html.twig' %}

{% block title %}Les affectations{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">📦 Les affectations de matériel</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>date d'affectation</th>
                <th>date de retour</th>
               
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td></td>
                <td></td>
               
            </tr>
      
        </tbody>
    </table>
</div>
{% endblock %}
