{% extends 'base.html.twig' %}

{% block title %}Mes affectations{% endblock %}

{% block body %}
<div class="main">
    <h2 class="mb-4">📦 Mes affectations de matériel</h2>

    {% if affectations is empty %}
        <div class="alert alert-warning">Aucune affectation trouvée.</div>
    {% else %}
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Matériel affecté</th>
                    <th>Date d'affectation</th>
                    <th>Date de retour</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for affectation in affectations %}
                    <tr>
                        <td>
                            {{ affectation.Materiel.type }} 
                        </td>
                        <td>
                            {{ affectation.dateAffectation ? affectation.dateAffectation|date('d/m/Y') : '—' }}
                        </td>
                        <td>
                            {{ affectation.dateRetour ? affectation.dateRetour|date('d/m/Y') : '—' }}
                        </td>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
</div>
{% endblock %}
